<body class="bg-other">
  <div class="user-wrapper">
    <% @users.each do |user| %>
    <div class="user-list-wrapper">
	  <div class="user-bx"><%=link_to user.username, user_path(user.id)%></div>
    </div>
    <% end %>
</div>
</body>