<body class="bg-home">
<div class="container">
	<div class="welcome-wrapper">
		<div class="title"><em>blabber.</em></div>
		<div class="enter-bx">
		<h1>Sign up</h1>
		<%= render 'form' %>
	</div>
</div>
</body>