<body class="bg-home">
  <div class="container">
    <div class="welcome-wrapper">
	  <div class="title"><em>blabber.</em></div>
	  <div class="subtitle">Not just another blogging site. <strong>OK, it is.</strong> But we have this uber hip background photo, so come get your blab on!</div>
    </div>
  </div>
</body>

