<body class="bg-other">
  <div class="feed-wrapper">
    <div class="newpost-wrapper">
      <h3>Edit blab:</h3>
        <div class="post">
          <%= render 'form' %>
        </div>
    </div>
  </div>
  <div class="back"><%= image_tag ("back.png") %></div>
  <%= link_to 'Back', :back %>
</body>
