<body class="bg-other">
  <div class="feed-wrapper">
    <div class="newpost-wrapper">
      <h3>Write a new blab:</h3>
        <div class="post">
          <%= render 'form' %>
        </div>
    </div>
  </div>
  <%= link_to "Back", :back, :class => "utility-links" %>
</body>
