body {
	font-family: "Courier New";
	color: black;
}

.bg-home {
	background: url("blog.jpg")no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-other {
	background-color: #eaeaea;
}
.notice {
	color: green;
}

.alert {
	color: red;
}

.welcome-wrapper {
	width: 65%;
	height: auto;
	position: relative;
	margin: 0 auto;
	padding-top: 150px;
}

.title {
	font-size: 5em;
	color: white;
	text-align: center;
	left: 50%;
	top:35%;
}

.subtitle {
	font-size: 2.5em;
	color: white;
	text-align: center;
	left: 50%;
	top:35%;
}

.logo {
	float: left;
	color: white;
	font-size: 1.5em;
	margin-left: 10px;
	margin-top: 6px;
}

.logo a:link, a:visited {
	text-decoration: none;
	color: white;
}

a:hover {
	opacity: 0.4;
}

#nav {
	width: 102%;
	height: 40px;
	background-color: #57867E;
	margin-top: -8px;
	margin-left: -9px;
}

#nav ul {
	float: right;
	list-style: none;
}

#nav ul li {
	text-decoration: none;
	font-size: 1em;
	float: left;
	vertical-align: middle;
	margin-right: 20px;
	margin-top: -6px;
}

#nav ul li a:link, a:visited {
	text-decoration: none;
	color: white;
}

.enter-bx {
	width: 300px;
	height: 225px;
	margin: 0 auto;
	background-color: #cfd6d4;
	border-radius: 10px;
}

.f-label, .f-field, .create-user  {
	text-align: center;
}

h1 {
	text-align: center;
	color: white;
}

.delete {
	text-align: center;
}

.delete a {
	color: red;
}

.user-wrapper {
	width: 80%;
	margin: 0 auto;
}

.user-list-wrapper {
	width: 75%;
	margin: 0 auto;
}

.user-bx {
	width: 200px;
	height: 200px;
	background-color: #57867E;
	border-radius: 5px;
	float: left;
	margin-right: 15px;
	margin-top: 15px;
	text-align: center;
}

.avatar-wrapper {
	width: 100%;
}
.avatar {
	text-align: center;
}

h3 {
	text-align: center;
}

.feed-wrapper {
	width: 45%;
	margin: 0 auto;
}

.post-wrapper {
	width: 95%;
	margin: 0 auto;
	border: 1px solid #57867E;
	border-radius: 5px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.newpost-wrapper {
	width: 95%;
	margin: 0 auto;
	border: 1px solid #57867E;
	border-radius: 5px;
	margin-top: 20px;
	padding-bottom: 10px;
}

.comments-form {
	width: 95%;
	margin: 0 auto;
}

.comments-list {
	width: 95%;
	margin: 0 auto;
}

textarea#post-bx {
	width: 98.5%;
	height: 200px;
	margin: 0 auto;
	border-radius: 5px;
}

textarea#comment-bx {
	width: 98.5%;
	margin: 0 auto;
	border-radius: 5px;
}

.submit-btn {
	width: 100px;
	height: 20px;
	border-radius: 5px;
}

.post {
	width: 95%;
	height: auto;
	margin: 0 auto;
}

.edit_delete {
	width: 95%;
	margin: 0 auto;
}